language: go
go:
  - "1.10.x"
  - "1.11.x"
  - "1.12.5"
  - "1.12.x"
  - "1.13.x"
  - "1.x"
  - "master"

notifications:
  irc:
    channels:
      - "chat.freenode.net#namecoin-dev"
    on_success: never

sudo: false

install:
  - go get -d -v -t ./...
  - GOXSYS_BRANCH=master
  # goxsys bug for Go 1.11 and earlier: https://github.com/golang/go/issues/34742
  - if [[ "$(go version)" =~ go1.[56789] ]]; then GOXSYS_BRANCH=release-branch.go1.13; fi
  - if [[ "$(go version)" =~ go1.1[01] ]]; then GOXSYS_BRANCH=release-branch.go1.13; fi
  - pushd $(go env GOPATH)/src/golang.org/x/sys; git checkout $GOXSYS_BRANCH; popd
  - go get -v -t ./...
  - env GOOS=windows GOARCH=amd64 go get -d -v -t ./...
script:
  - source ./.travis/script
